
/*General*/
* {
    box-sizing: border-box;
}


body {
    font-family: roboto;
    margin: 0;
}


header {
    padding: 50px;
    text-align: center;
    background: #ADD9D1;
    color: white;

}

.head {
    outline: solid 2px white;
    padding: 20px;
}


nav {
    background-color: #333;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}


nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    
}

nav a:hover {
    background-color: #ADD9D1;
    color: black;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #333333;
}
    
.footer a:hover {
    color: white;
    padding: 1px 20px;
    
}

.footer a {
    text-decoration: none;
    color: gray;
}


/*index*/
.name {
    font-size: 60px;

}

.h2 {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    color: #EE2C25;
}

h2 {

    font-weight: bold;
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
    color: #606060;
}

.row {  
    display: flex;
    flex-wrap: wrap;
}


.side {
    flex: 50%;
    background-color: #ADD9D1;
    padding: 20px;
}

.off {
    display: flex;
    text-align: center;
    justify-content: bottom;
    justify-content: center;
    padding-top: 20px;
    text-decoration: none;
    color: #1D858C;
    font-weight: bold;
    font-size: 70px;

}

   a:hover {
    color: white;
    opacity: 30%;
}

.p {
    display: flex;
    text-align: center;
    justify-content: bottom;
    justify-content: center;
    padding-top: 10px;
    color: white;

}

.main {
    flex: 50%;
    background-color: #81CAB2;
    padding: 20px;
    width: 10%;
    height: 10%;
    padding-bottom: 150px;
}

.img1 {
    padding: 10px;
    padding-left: 130px;

}


.row2 {  
    display: flex;
    flex-wrap: wrap;
}


.side2 {
    flex: 50%;
    background-color: #f1f1f1;
    padding: 20px;
}

.img2 {
    width: 82%;
    display: flex;
    padding-left: 110px;
}


.main2 {
    flex: 50%;
    background-color: #C1E288;
    padding: 20px;
}

.img3 {
    width: 77.5%;
    display: flex;
    padding-left: 110px;   
}

.row3 {  
    display: flex;
    flex-wrap: wrap;
}


.side3 {
    flex: 50%;
    background-color: #F4CA53;
    padding: 20px;
}

.img4 {
    width: 75%;
    display: flex;
    padding-left: 110px;  

}

.main3 {
    flex: 50%;
    background-color: #EFE6CE;
    padding: 20px;
}

.img5 {
    width: 58%;
    width: 75%;
    display: flex;
    padding-left: 110px; 
}

/*index and about*/
.big {
    font-weight: bold;
    font-size: 65px;
}

/*about*/
.p {
    padding-top: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-bottom: 100px;
    color: white;
    font-size: 30px;
    padding-left: 70px;
    padding-right: 70px;

}

.rowa {  
    display: flex;
    flex-wrap: wrap;
}


.sidea {
    flex: 50%;
    background-color: #F39A00;
    padding: 20px;
}

.maina {
    flex: 50%;
    background-color: #f1f1f1;
    padding-left: 110px;
    padding-top: 45px;
    padding-bottom: 45px;
    width: 50%;
}

.row2a {  
    display: flex;
    flex-wrap: wrap;
}


.side2a {
    flex: 50%;
    background-color: #B7E26D;
    padding: 20px;
}

.img1a {
    padding: 10px;
    padding-left: 130px;

}

.img2a {
    width: 98%;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}


.main2a {
    flex: 50%;
    background-color: #96CCB8;
    padding: 20px;
}

/*store*/

.fling-minislide {width:328.66px; height:567px; overflow:hidden; position:relative; }
.fling-minislide img{ position:absolute; animation:fling-minislide 20s infinite; opacity:0; width: 100%; height: auto;}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}} 
.fling-minislide img:nth-child(4){animation-delay:0s;}
.fling-minislide img:nth-child(3){animation-delay:5s;}
.fling-minislide img:nth-child(2){animation-delay:10s;}

.rows:after {
    clear: both;
    display: -webkit-flex;
}

.columns {
    float: left;
    width: 33.33%;
    padding: 15px;
    padding-bottom: 10px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #E8D9B1;
}

.columns:nth-child(2) {
background-color: #66DDA1;

}

.columns:nth-child(3) {
    background-color: #F9C629;
}

.columns:nth-child(4) {
    background-color: #79B5AF;
}

.img2s {
    width: 87%;
    padding-bottom: 80px;
    display: flex;
    align-content: center; 
}

.row2s {
    clear: both;
    display: -webkit-flex;
    display: flex;
    justify-content: center;

}

.column2s {
    float: left;
    width: 33.33%;
    padding: 15px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #2ACE82;

}

.column2s:nth-child(2) {
    background-color: #79B5AF;
}

.column2s:nth-child(3) {
    background-color: #E8AA72;
}

.img3s {
    padding-bottom: 120px;
    width: 80%;
    display: flex;
    align-content: center;
}

.button {
    background-color: #333333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.button:hover {
    background-color: white;
    color: white;
}

.ps{
    font-size: 20px;
    text-align: justify;
    color: white;
    padding-bottom: 210px;
    text-align: center;
}

.h2s{
    font-size:90px;
    color: white;
    margin-top:10px;
    padding-bottom: 40px;
    text-align: center;
    padding-top: 200px;
    font-weight: bold;
    justify-content: center;
}

.h22s {
    padding-top: 100px;
    padding-bottom: 187px;
    font-size:90px;
    color: white;
}

.img4s {
    width: 80%;
    padding-bottom: 108px;
}

/*sell*/

.rowl {  
    display: flex;
    flex-wrap: wrap;
}

.sidel {
    flex: 30%;
    background-color: #79B5AF;
    padding: 20px;
    color: white;
    font-size: 20px;
    line-height: 40px;
    
}


.navl{
    text-decoration: none;
    color: white;

}

.navl a:hover {
    color: black;
}


.inv {
    font-size: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
    background: #4C4B4B;
    text-align: center;
    margin-bottom: 30px;
    text-align: center;

}

.mainl {
    flex: 70%;
    background-color: white;
    padding: 20px;
    background: #38999B;
}

.inv2 {
    font-size: 45px;
    color: #353535;
    text-align: center;
}

.imgl {
    width: 50%;
    padding-top: 20px;
    margin-left: 220px;

}

.sub {
    background: #24C7B1;
    padding: 10px;
    margin: 60px;
    color: white;
    padding-bottom: 60px;
}

.pel {
    margin-top: 80px;
    font-size: 30px;
    margin-left: 220px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}
