* {
    box-sizing: border-box;
}


body {
    font-family: roboto;
    margin: 0;
}


header {
    padding: 50px;
    text-align: center;
    background: #33CC99;
    color: white;
}

.name {
    font-size: 60px;

}

.big {
    font-weight: bold;
    font-size: 65px;
}


nav {
    display: flex;
    background-color: #333;
    display: flex;
    align-content: center;
}


nav a {
    
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    
}

nav a:hover {
    background-color: #33CC99;
    color: black;
}


.row {  
    display: flex;
    flex-wrap: wrap;
}


.side {
    flex: 50%;
    background-color: #ADD9D1;
    padding: 20px;
}

.off {
    display: flex;
    text-align: center;
    justify-content: bottom;
    justify-content: center;
    padding-top: 20px;
    text-decoration: none;
    color: #1D858C;
    font-weight: bold;
    font-size: 70px;

}

   a:hover {
    color: white;
    opacity: 30%;
}

.p {
    display: flex;
    text-align: center;
    justify-content: bottom;
    justify-content: center;
    padding-top: 10px;
    color: white;

}

.main {
    flex: 50%;
    background-color: #81CAB2;
    padding: 20px;
    width: 10%;
    height: 10%;
}

.img1 {
    padding: 10px;
    padding-left: 130px;

}


.row2 {  
    display: flex;
    flex-wrap: wrap;
}


.side2 {
    flex: 50%;
    background-color: #f1f1f1;
    padding: 20px;
}

.img2 {
    width: 82%;
    display: flex;
    padding-left: 110px;
}


.main2 {
    flex: 50%;
    background-color: white;
    padding: 20px;
}

.row3 {  
    display: flex;
    flex-wrap: wrap;
}


.side3 {
    flex: 50%;
    background-color: #f1f1f1;
    padding: 20px;
}


.main3 {
    flex: 50%;
    background-color: white;
    padding: 20px;
}


.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}