* {
    box-sizing: border-box;
}


body {
    font-family: roboto;
    margin: 0;
}



nav {
    background-color: #333;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

nav a {
    
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    
}

nav a:hover {
    background-color: #33CC99;
    color: black;
}

img {
    width: 80%;
    padding-left: 40px;
    padding-bottom: -200px;
    padding-top: 50px;

}

.fling-minislide {width:328.66px; height:567px; overflow:hidden; position:relative; }
.fling-minislide img{ position:absolute; animation:fling-minislide 20s infinite; opacity:0; width: 100%; height: auto;}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}} 
.fling-minislide img:nth-child(4){animation-delay:0s;}
.fling-minislide img:nth-child(3){animation-delay:5s;}
.fling-minislide img:nth-child(2){animation-delay:10s;}

p{
    font-size: 20px;
    text-align: justify;
    color: white;
    padding-bottom: 207px;
    text-align: center;
}

.img2 {
    width: 87%;
    padding-bottom: 80px;
}

h2{
    font-size:90px;
    color: white;
    margin-top:10px;
    padding-bottom: 40px;
    text-align: center;
    padding-top: 200px;
    font-weight: bold;
    justify-content: center;
}

.h2 {
    padding-top: 100px;
    padding-bottom: 187px;
}

h1{
    font-size:90px;
    color: white;
    margin-top:10px;
    padding-bottom: 40px;
    text-align: center;
    padding-top: 100px;
    font-weight: bold;
    justify-content: center;

}

.button {
    background-color: #333333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


.button:hover {
    background-color: white;
    color: white;
}

.img3 {
    padding-bottom: 120px;

}


.column {
    float: left;
    width: 33.33%;
    padding: 15px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #E8D9B1;
}

.column:nth-child(2) {
background-color: #66DDA1;

}

.column:nth-child(3) {
    background-color: #F9C629;
}

.column:nth-child(4) {
    background-color: #79B5AF;
}

.row2 {
    display: table;
    clear: both;
    display: -webkit-flex;
    display: flex;

}

.column2 {
    float: left;
    width: 33.33%;
    padding: 15px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #2ACE82;

}

.column2:nth-child(2) {
    background-color: #79B5AF;
}

.column2:nth-child(3) {
    background-color: #E8AA72;
}
.row:after {
    display: table;
    clear: both;
    display: -webkit-flex;
    display: flex;
}





.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}
    


.footer a:hover {
    color: white;
    padding: 14px 20px;
    
}

.footer a {
    text-decoration: none;
    color: gray;
}